@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
body{
  font-family: 'Open Sans', sans-serif;
  background-color: #D95514;
  display: flex;
 justify-content: center;
    align-items: center;
    height: 100vh;

  
}
#text{
  font-size: 1.75rem;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
#new-quote{
  background-color: black;
  font-size: 1.75rem;
  color: white;
}
#root{
 
}
.principalContainer{

  border-radius: 2px !important;
  background-color: #fff !important;
  width: 450px !important;
  padding: 40px 50px !important;
  position: relative;
  
  
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}
#tweet-quote{
  font-size: 45px;
  color: black;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
